@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css');
html{
  background-color: #673AB7;
}
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
	min-height: 100vh;
	flex-direction: column;
}
nav{
  background-color: #DAC936;
}
nav .brand-logo{
  color: #000000;
}
main{
	flex: 1 0 auto;
}
.page-footer{
	padding-top: 0px;
	color: #FFFFFF;
	background-color: #4D258F;
}
.page-footer .footer-copyright{
	padding-top: 0px;
	color: #FFFFFF;
	background-color: #4D258F;
}
#btn_login{
	margin-right: 2em;
	margin-top: 1em;
}
#screen_login{
	margin-top: 5em;
}
#screen_intro{
	margin-top: 5em;
	display:none;
}
#screen_database{
	display:none;
	padding: 5em;
}
#screen_new_map{
	margin-top: 5em;
	display: none;
}
#add_map_step_2{
	display: none;
}
.dark_image{
	background: linear-gradient(transparent, #000000), url("../images/earth.png") no-repeat center;
	height: 480px;
	width: 938px;
}
tbody {
	display:block;
	height:310px;
	overflow:auto;
  }
  thead, tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
  }
  thead {
	width: 100%;
	background-color: #673AB7;
	color: #FFFFFF;
  }
  table {
	width:100%;
  }
 .input-field label {
	color: #FFFFFF !important;
  }
  .input-field input[type=text]:focus + label {
	color: #FFFFFF !important;
  }
  .input-field input[type=text]:focus {
	border-bottom: 1px solid #FFFFFF !important;
	box-shadow: 0 1px 0 0 #FFFFFF !important;
  }
  .input-field input[type=text].valid {
	border-bottom: 1px solid #00FF00 !important;
	box-shadow: 0 1px 0 0 #00FF00 !important;
  }
  .input-field input[type=text].invalid {
	border-bottom: 1px solid #FF0000 !important;
	box-shadow: 0 1px 0 0 #FF0000 !important;
  }
  .input-field .prefix.active {
	color: #FFFFFF !important;
  }
  .input-field [type=text] {
    color: white;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #DAC936;
}